page-pregnant-checklist {
  .remake-border .input-wrapper{
    padding-bottom: 0px;
    border-bottom: 1px solid #dedede;
  }
  .no-margin{
    margin: 1px;
  }
  // .input-wrapper{
  //   border-bottom: 1px solid #dedede;
  // }
}