page-evacuation-bag-note {
  .bg-style{
    background: #FBE2CF
  }
  .col{
    border: think solid black;
  }
  .table-index{
    font-size: 53%;
    padding: 0px;
    height: 10px;
  }
  .strength{
    font-size:110%;
  }
}
